body {

}

.red {
    background-color:red
}
.plate {
    width: 200px;
    padding: 10px;
    margin-right: 31px;
}

.crossbox {
    right: -20px;
    float:right;
    background-color: red;
}
.table {
    background-color: skyblue;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    position:absolute;
    left:       15%;
    width:      70%;
}

.segment {
    background-color:pink;
}